
/* sass file */

$border-color: #ddd;
$title-color : #333;
$desc-color  : #666;
$gray-color  : #888;
$red-color   : #bc0016;
$back-color  : #f6f6f6;
$font12      : 12px;
$font14      : 14px;

* {
  //font-size: 14px;
  font-family: Helvetica,"SimSun","KaiTi","Arial",sans-serif;
  font-weight: 300;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  background: $back-color url(../images/background-texture.png);
}

button {
	vertical-align: bottom;
    white-space: nowrap;
    text-decoration: none;
    -webkit-user-drag: none;
    user-select: none;
    font-size: 16px;
    outline: none;
    border: none;
	cursor: pointer;
	padding: 0;
}

div {
	position: relative;
}

a {
    color: $title-color;
    outline: none;

    &:focus {
    	outline: none;
    }
}

a:hover, a:focus{
	cursor: pointer;
 	text-decoration: none !important;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.simsun {
	font-family: "SimSun";
}

ul {
	margin: 0;
	padding: 0;

	li{
		list-style: none;
	}
}

.hide {
	display: none;
}

.red-color {
	color: $red-color;
}






.top-bar {
	position: relative;
	width: 100%;
	
	.top-img {
		height: 42px;
		margin-top: -10px;
		background: url(../images/top-img.png) center no-repeat;
	}

	.top-menu {
		height: 44px;
		
		&.container {
			padding: 0;
		}

		.line {
			padding: 0 6px;
		}

		.text {
			font-size: $font12;
			font-family: SimSun;
			font-weight: 400;
			color: $desc-color;
			display: inline-block;
			position: relative;
			line-height: 44px;
		}

		.text-vip {
			.arrow {
				padding: 0 6px;
			}
		}

		a {
			cursor: pointer;

			&:hover {
				color: $red-color;
			}
		}
	}

	.vip-box-top {
		position: absolute;
    	top: -10px;
	    left: -10px;
	    width: 90px;
	    height: 54px;
    	z-index: -1;
    	background: $back-color ;
    	border-left: 1px solid $border-color;
    	border-right: 1px solid $border-color;
    	display: none;
	}

	.vip-box {
		position: absolute;
		width: 300px;
    	height: 200px;
    	line-height: 24px;
    	top: 0;
    	left: -10px;
    	z-index: 10;
    	display: none;

    	.inset {
    		position: relative;
    		padding: 12px 12px 6px;
    		width: 300px;
    		min-height: 100px;
    		margin-top: 44px;
    		border: 1px solid $border-color;
    		background: $back-color ;
    	}

    	.user-white {
    		background: $back-color ;
    		position: absolute;
    		top: -2px;
    		left: 0;
    		width: 88px;
    		height: 2px;
    	}

    	.user-header {
    		position: relative;
    		padding-left: 72px;
    		height: 72px;
    		border-bottom: 1px solid $border-color;

    		.photo {
    			position: absolute;
    			width: 60px;
			    height: 60px;
			    top: 0;
			    left: 0;
			    border-radius: 50%;
    			-webkit-border-radius: 50%;
    		}

    		.lines {
    			padding-top: 8px;

    			>* {
    				font-size: 12px;
    			}

    			.fr {
    				cursor: pointer;
    			}
    		}

    		.safe-bar {
    			margin-top: 6px;
    			height: 10px;
    			background: $border-color;

    			.prog {
    				position: absolute;
    				top: 0;
    				left: 0;
    				height: 10px;
    				background: $red-color;
    			}
    		}
    	}

    	.user-info {
    		font-size: 0;
    		padding-top: 12px;

    		.item {
    			display: inline-block;
    			width: 25%;
    			text-align: center;
    			cursor: pointer;
    			font-size: 14px;

    			.icon {
    				display: inline-block;
    				width: 30px;
    				height: 30px;
    			}

    			.icon1 {
    				background: url(../images/icon-up.png) center no-repeat;
    			}
    			.icon2 {
    				background: url(../images/icon-collect.png) center no-repeat;
    			}
    			.icon3 {
    				background: url(../images/icon-order.png) center no-repeat;
    			}
    			.icon4 {
    				background: url(../images/icon-vip.png) center no-repeat;
    			}

    			.item-text {
    				margin: 0;
    			}
    		}


    	}
	}

	.spacing {
		margin-right: 24px;
	}
}


.nav-box {
	position: relative;
	width: 100%;
    margin: 24px auto 0;
    z-index: 2;

    a {
    	vertical-align: top;
    }

    .logo {
    	display: inline-block;
    	width: 119px;
	    height: 121px;
	    margin: 0 60px;
	    background: url(../images/logo.png) center no-repeat;
    }

    .nav-menu {
    	display: inline-block;
    	width: 20px;
	    height: 140px;
	    padding: 0px 40px;
	    transition: all 0.3s ease;
    }

    #nav-1 {
	    background: url(../images/nav1.png) top center no-repeat;

	    &.active, &:hover {
	    	background-image: url(../images/nav1_.png);
	    }
	}

	#nav-2 {
	    background: url(../images/nav2.png) top center no-repeat;

	    &.active, &:hover {
	    	background-image: url(../images/nav2_.png);
	    }
	}

	#nav-3 {
	    background: url(../images/nav3.png) top center no-repeat;

	    &.active, &:hover {
	    	background-image: url(../images/nav3_.png);
	    }
	}

	#nav-4 {
	    background: url(../images/nav4.png) top center no-repeat;

	    &.active, &:hover {
	    	background-image: url(../images/nav4_.png);
	    }
	}

	#nav-5 {
	    background: url(../images/nav5.png) top center no-repeat;

	    &.active, &:hover {
	    	background-image: url(../images/nav5_.png);
	    }
	}

	#nav-6 {
	    background: url(../images/nav6.png) top center no-repeat;

	    &.active, &:hover {
	    	background-image: url(../images/nav6_.png);
	    }
	}
	
}


.section-box {
	position: relative;
    width: 100%;
    min-height: 200px;
    overflow: hidden;
    padding-top: 100px;

    &.vague {
    	-webkit-filter: blur(2px); //set vague
    }

    .title {
    	margin: 0 auto;
    	text-align: center;

    	.img {
    		width: 255px;
    	}

    	&.title-margin {
    		margin-bottom: 40px;
    	}

    	&.title-margin-large {
    		margin-bottom: 60px;
    	}
    }

    .title-desc {
    	margin: 10px 0 40px;
    	color: $desc-color;
    	font-size: $font14;
    	font-family: SimSun;
    	font-weight: 400;
    	text-align: center;
    }

    .more {
    	display: block;
		text-align: right;
		font-size: 12px;
		font-family: SimSun;
		font-weight: 400;

		&:hover {
			color: $red-color;
			cursor: pointer;
		}
		
	}

}

.banner-box {
	height: 570px;
	padding: 0;

	.banner {
		padding: 0;
		width: 100%;
		height: 100%;

		li {
			width: 100%;
			height: 100%;

			a {
				display: block;
				width: 100%;
				height: 100%;
			}

			img {
				width: 100%;
				height: 100%;
			}
		}
	}

	.rslides_nav {
		display: block;
		position: absolute;
		top: 40%;
		width: 60px;
		height: 80px;
		text-indent: -10em;
		overflow: hidden;
		opacity: 0.6;
		transition: all 0.3s ease;
	}

	.prev {
		background: url(../images/arrow-left.png) center no-repeat;
		left: 40px;
	}

	.prev:hover {
		opacity: 1;
	}

	.next {
		background: url(../images/arrow-right.png) center no-repeat;
		right: 40px;
	}

	.next:hover {
		opacity: 1;
	}

	.rslides_tabs {
		position: absolute;
		left: 47%;
		top: 90%;
		clear: both;
		text-align: center;
		z-index: 9;
	}
	.rslides_tabs li {
		display: inline;
		float: left;
		_float: left;
		*float: left;
		margin-right: 5px
	}

	.rslides_tabs a {
		display: block;
		float: left;
		width: 12px;
		height: 12px;
		text-indent: -5em;
		margin-left: 6px;
		border-radius: 50%;
		border: 1px solid #333;
		overflow: hidden;
	}

	.rslides_tabs .rslides_here a {
		background: #333;
	}

}

.video-box {
	height: 1080px;
	margin: 0 auto;
	max-width: 1200px;
	padding: 0;

	.video-js {
		width: 100% !important;
		height: 100% !important;

		video {
			width: 100%;
		}
	}

	img {
		width: 100%;
		height: 100%;
	}
}

.recommand-box {
	
	.back-img {
		position: absolute;
		top: 40%;
		z-index: -1;

		&.left {
			left: 0;
		}

		&.right {
			top: 44%;
			right: 0;
		}
	}

	.good-list{
		
		.item {
			position: relative;
			margin-top: 20px;
			color: $title-color;
			overflow: hidden;

			&:hover {
				cursor: pointer;
				color: $red-color;

				.img {
					transform: translateY(-5%);
					-moz-transform: translateY(-5%); 
					-webkit-transform: translateY(-5%); 
					-o-transform: translateY(-5%); 
				}
			}

			.img-box {
				width: 100%;
				text-align: center;
				overflow: hidden;

				.img {
					height: 100%;
					transition: all 0.3s ease;
				}

				.water {
					display: block;
					position: absolute;
					bottom: 0;
					left: 50%;
					opacity: 0.3;
					transform: translateX(-50%);
				}
			}


			.text {
				margin-top: 20px;
				text-align: center;
				font-weight: 400;
				font-size: 16px;
				transition: all 0.3s ease;
			}

		}
	}
}

.expert-box {

	.back-img {
		
		&.left {
			top: 120px;
		}

		&.right {
			top: 50%;
		}
	}

	.good-list{
		
		.item {
			color: #fff;
			
			&:hover {
				cursor: pointer;
				color: #fff;

				.img {
					transform: scale(1.2,1.2);
					-moz-transform:scale(1.2,1.2); 
					-webkit-transform:scale(1.2,1.2); 
					-o-transform:scale(1.2,1.2); 
				}

				.font-box {
					height: 60px;
					padding-top: 10px;
					background: rgba(51,51,51,1);
				}
			}

			.img-box {
				background: rgba(51,51,51,0.6);

				.img {
					width: 100%;
				}
			}

			.font-box {
				height: 60px;
				padding-top: 10px;
				background: rgba(51,51,51,0.6);
				transition: all 0.3s ease;

				.text {
					margin: 0;

					&:last-child {
						font-size: 12px;
					}
				}

			}

			
		}
	}
}

.collect-box {

	.back-img {
		
		&.right {
			top: 40%;
		}
	}

	.more {
		float: right;
		display: inline-block;
	}

	.type-bar {
		width: 100%;
		height: 34px;
		line-height: 34px;
		padding-left: 110px;
		font-size: 12px;
		font-weight: 400;

		.red-color {
			color: $red-color;
			font-size: 20px;
		}

		&.today {
			background: url(../images/type1.png) left center no-repeat;
		}

		&.today2 {
			background: url(../images/type2.png) left center no-repeat;
		}

		&.today3 {
			background: url(../images/type3.png) left center no-repeat;
		}
	}

	
	.good-list {
		padding-bottom: 40px;
		padding-top: 20px;

		.item {
			//background: #fff;

			.img-box {
				//background: $red-color;
			}

			.text{
				padding-left: 20px;
				text-align: left;
				margin-top: 10px;
				margin-bottom: 0;
				font-size: 14px;
			}

			.desc {
				margin: 0;
				padding-left: 20px;

				.num {
					font-size: 12px;
					font-weight: 400;
				}

				.red-color {
					color: $red-color;
					font-size: 18px;
				}
			}
		}
	}
}

.machine-box {

	.good-list {

		.item {
			text-align: center;

			&:hover {
				cursor: pointer;
				color: #fff;

				.img {
					transform: translateY(-5%);
					-moz-transform: translateY(-5%); 
					-webkit-transform: translateY(-5%); 
					-o-transform: translateY(-5%); 
				}

				.font-box {
					height: 40px;
					padding-top: 0;
					background: rgba(51,51,51,1);
				}
			}

			.img {
				width: 100%;
			}

			.font-box {
				position: absolute;
				padding-top: 0;
				height: 40px;
				line-height: 40px;
				bottom: 0;
				left: 15px;
				right: 15px;
			}
		}
	}
}

.news-banner {
	
}


.footer {
	padding-bottom: 60px;
	height: 365px;
	background: url(../images/footer-back.png) center no-repeat;
	background-size: contain;

	.list {
		height: 80px;
		margin-top: 60px;
	}

	.item {
		height: 80px;
		padding-left: 100px;

		.info {
			text-align: left;
			padding-top: 20px;

			>* {
				font-weight: 400;
				text-align: left;
			}

			.title {
				margin-bottom: 4px;
			}

			.desc {
				font-size: 12px;
			}
		}

		&.item1 {
			background: url(../images/footer1.png) left center no-repeat;
		}

		&.item2 {
			background: url(../images/footer2.png) left center no-repeat;
		}

		&.item3 {
			background: url(../images/footer3.png) left center no-repeat;
		}

		&.item4 {
			background: url(../images/footer4.png) left center no-repeat;
		}
	}

	.text {
		font-size: 12px;
	    font-weight: 400;
	    color: #666;
	}

	.middle {
		height: 60px;
		line-height: 60px;

		.text {
			font-size: 12px;
		    font-weight: 400;
		    color: #666;
		}

		.line {
			padding: 0 6px;
		}
	}

	.bottom {
		position: absolute;
	    bottom: 0;
	    left: 0;
		width: 100%;
		height: 60px;
		text-align: center;
		padding-top: 12px;
	    background: #333;

		.text {
			margin: 0 0 4px;
		}
	}
}


.appraisal-box {

	.list {
		text-align: center;

		.item {
			position: relative;
			width: 400px;
			height: 280px;
			display: inline-block;
			margin: 0 40px;
			overflow: hidden;

			.mask {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				opacity: 1;
				background: rgba(0,0,0, 0.4);
				transition: all 0.3s ease;
			}

			.img {
				width: 100%;
				height: 100%;
			}

			&:hover {
				.mask {
					opacity: 0;
				}
				
			}
		}

		.red-back {
			display: block;
			position: absolute;
			width: 26px;
			height: 76px;
			line-height: 16px;
			top: 0;
			left: 30px;
			padding-top: 6px;
			background: $red-color;
			color: #fff;
		}
		
	}
	
}



.news-box {

	.item {
		position: relative;
		width: 100%;
		display: block;
		padding-left: 280px;
		margin-bottom: 30px;
		height: 170px;
		color: $desc-color;
		overflow: hidden;

		.img-box {
			position: absolute;
			top: 0;
			left: 0;
			width: 250px;
			height: 170px;

			.img {
				height: 100%;
				width: 100%;
			}
		}

		.titles {
			padding-top: 10px;
		    font-size: 20px;
		    color: $title-color;
		    white-space: nowrap;
		    text-overflow: ellipsis;
		    transition: all 0.5s;

		    &:hover {
		    	color: $red-color;
		    }
		}

		.time {
			i {
				padding: 0 10px;
			}
		}

		.desc {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 4;
			overflow: hidden;
			line-height: 22px;
			transition: all 0.5s;

			&:hover {
		    	color: $red-color;
		    }
		}
	}
}

.page {
	width: 100%;
	padding-top: 20px;
	overflow: hidden;

	.page-item {
		width: 40px;
	    height: 40px;
	    line-height: 40px;
	    border: 1px solid $title-color;
	    color: $title-color;
	    float: left;
	    margin-right: 20px;
	    text-align: center;
	    cursor: pointer;

	    &:hover {
	    	color: $red-color;
	    	border-color: $red-color;
	    }

	    &.last, &.next {
	    	width: 80px;
	    	font-size: 16px;
	    }

	    &.dot {
	    	border: none;
	    	cursor: default;
	    	background: url(../images/dot.png) center no-repeat;
	    }
	}
}

.news-item {
	padding: 60px 0;
	border-bottom: 1px solid $border-color;

	.containers {
		width: 900px;
		margin: 0 auto;
	}

	.titles {
		padding-top: 10px;
	    font-size: 22px;
	    font-weight: 400;
	    color: $title-color;
	}

	.time {
		margin: 0 0 30px;

		i {
			padding: 0 10px;
		}
	}

	.desc {
		margin: 10px 0;
		line-height: 28px;
    	font-size: 16px;
	}

	.pages {
		line-height: 40px;
		margin-top: 40px;
		cursor: pointer;

		.prev {
			float: left;

			&:hover {
				color: $red-color;
			}
		}

		.next {
			float: right;

			&:hover {
				color: $red-color;
			}
		}
	}
}

.type-box {
	padding-top: 24px;
	min-height: 80px;
	height: 80px;
	line-height: 26px;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;

	.titles {
		color: $title-color;
	    font-size: 18px;
	    float: left;
	    padding-left: 12px;

	    .line {
	    	position: absolute;
	    	top: 0;
	    	left: 0;
	    	width: 4px;
	    	height: 26px;
	    	background: $red-color;
	    }
	    
	}

	.fr {
		.text {
			&:hover {
				color: $red-color;
			}
		}
	}

	.arrow {
		padding: 0 6px;
	}
}

.about-box {
	border-bottom: 0 none;


	.title .img-large {
		width: 315px;
	}

	.title2 {
		margin-top: 100px;
	}

	.img-desc {
		width: 900px;
		margin: 0 auto;
		text-align: center;
	}

	.banner-box {
		margin-top: 100px;
	}
}


.form-box {
	height: 600px;
	background: url(../images/login-back.jpg) center no-repeat;
	background-size: cover;

	&.register-box {
		padding-top: 60px;
	}

	.left {
	    width: 350px;
	    padding: 20px;
	    border: 1px solid $red-color;
	    background: rgba(255,255,255,0.3);

	    input:focus {
	    	border-color: $red-color;
	    }

	    h2 {
	    	margin: 0;
	    	padding-top: 8px;
	    	font-size: 18px;
	    	font-weight: normal;
	    	color: $title-color;
	    }

	    .item {
	    	margin-top: 20px;
	    }

	    .input-text {
	    	width: 100%;
		    height: 42px;
		    line-height: 30px;
		    padding: 6px 12px;
		    font-size: 14px;
	    	border-radius: 0;
	    	border: 1px solid #ddd;
	    	box-shadow: none;
	    	outline:none;
	    }

	    .button {
	    	width: 100%;
	    	height: 42px;
	    	line-height: 30px;
	    	padding: 6px 12px;
	    	text-align: center;
	    	cursor: pointer;
	    	background: $red-color;
	    	color: #fff;
	    	border-radius: 4px;
    		outline: none;
	    }

	    .bottom {
	    	.right {
	    		font-size: 12px;
	    		margin-top: 60px;
	    		padding-right: 20px;
	    		cursor: pointer;

	    		&:hover {
	    			color: $red-color;
	    		}
	    	}
	    }
	}

}

.user-section-box {

	dt {
	    font-weight: 300;
	}

	.left-menu {
		width: 200px;
		min-height: 200px;
		border: 1px solid #ddd;
		background: $back-color ;

		.title-bar {
			height: 60px;
			line-height: 60px;
			font-size: 16px;
			border-bottom: 1px solid #ddd;
			text-align: center;

			.icon {
				width: 20px;
				height: 20px;
				margin-right: 8px;
			}

			.text {
				vertical-align: middle;
			}
		}

		dl {
			padding-left: 40px;
			padding-top: 20px;

			.active {
				color: $red-color;
				font-weight: 700;

				a {
					color: $red-color;
				}
			}
		}

		dt,dd {
			padding-left: 20px;
			position: relative;
			cursor: pointer;
		}

		dd {
			line-height: 24px;

			a:hover {
				color: $red-color;
			}
		}

		dt {
			height: 32px;
			line-height: 32px;
			font-size: 16px;

			&:hover {
				color: $red-color;
			}

			.line {
				position: absolute;
				left: 0;
				top: 12px;
				width: 4px;
				height: 4px;
				margin-right: 10px;
				background: $red-color;
			}
		}
	}

	.right-box {
		width: 950px;
		min-height: 400px;
		border: 1px solid #ddd;
		background: $back-color ;

		.title-bar {
			height: 160px;
			padding: 0 40px;
			border-bottom: 1px solid #ddd;

			>* {
				float: left;
				height: 100%;
			}

			.left {
				padding-top: 20px;
				text-align: center;

				.photo {
					border-radius: 50%;
				}

				.name {
					margin-top: 10px;
				}
			}

			.middle {
				padding: 40px 60px 0 40px;
				border-right: 1px dashed $border-color;

				.safe-bar {
	    			margin-top: 6px;
	    			margin-bottom: 10px;
	    			height: 10px;
	    			background: $border-color;

	    			.prog {
	    				position: absolute;
	    				top: 0;
	    				left: 0;
	    				height: 10px;
	    				background: $red-color;
	    			}
	    		}

	    		.phone {
	    			.text {
	    				padding-right: 10px;
	    			}
	    		}
			}

			.right {
				font-size: 0;
				padding: 30px 0 0 60px;

				.item {
					display: inline-block;
					width: 90px;
					height: 100%;
					font-size: 14px;
					text-align: center;

					.icon {
						display: inline-block;
						width: 60px;
						height: 60px;
						border: 1px solid $title-color;
						border-radius: 50%;
					}

					.icon1 {
						background: url(../images/users-icon-card.png) center no-repeat;
					}

					.icon2 {
						background: url(../images/users-icon-blance.png) center no-repeat;
					}

					.icon3 {
						background: url(../images/users-icon-coupon.png) center no-repeat;
					}

					.icon4 {
						background: url(../images/users-icon-score.png) center no-repeat;
					}
					
				}
			}
		}
	}

	.menu-container {
		padding: 20px;

		.page {
			padding-left: 100px;
			margin-bottom: 80px;
		}

		.form {
			padding: 0 40px 0;
			margin-bottom: 80px;

			.item {
				margin-top: 20px;

				.labels {
					vertical-align: top;
					font-weight: 300;
					line-height: 42px;
					width: 100px;
					font-size: 16px;
					margin-bottom: 0;
					padding-right: 30px;
					text-align: right;
				}

				.img-button {
					width: 200px;
					padding: 0;
					color: #fff;
					text-align: center;
					background: $title-color;
				}

				.input-text {
					width: 600px;
				    height: 42px;
				    line-height: 30px;
				    padding: 6px 12px;
				    font-size: 14px;
				    border-radius: 0;
				    border: 1px solid $border-color;
				    box-shadow: none;
				    outline: none;
				}

				textarea {
					width: 600px;
					height: 200px;
					border: 1px solid $border-color;
				}

				.btn-submit {
					width: 200px;
					padding: 0;
					color: #fff;
					line-height: 42px;
					text-align: center;
					background: $red-color;
				}
			}
		}

	}

	.collect-list {
		.item {
			height: 240px;
			text-align: center;

			.text {
				margin-top: 10px;
			}
		}

		.img-box {
			img {
				width: 100%;
				height: 100%;
			}
		}
	}

	.upload-list {
		
	}

	.welfare-list {
		.line {
			padding: 80px 0 0 0;
			text-align: center;
		}
	}

	.member-list {

		.line {
			margin-bottom: 20px;
			line-height: 44px;
			font-size: 16px;
			color: $red-color;
			text-align: center;
		}

		.button-box {
			width: 500px;
			margin: 0 auto 40px;
		}

		.btn-recharge {
			position: relative;
			width: 130px;
			padding: 10px;
			margin-right: 40px;
			line-height: 24px;
			color: $title-color;
			border: 1px solid $title-color;
			background: transparent;

			&:last-child {
				margin-right: 0;
			}

			.top {
				position: absolute;
				top: -10px;
				left: 50%;
				padding: 0 8px;
				background: $back-color ;
				transform: translateX(-50%);
			}

			.count {
				font-size: 32px;
				margin-top: 14px;
				color: $red-color;
			}
		}
	}

	.info-list {

	}
}

.dynasty-list {
	padding-top: 30px;
	
	.type-bar {
		margin-bottom: 30px;

		.btn-type {
			position: relative;
			display: inline-block;
			width: 80px;
			height: 40px;
			line-height: 40px;
			cursor: pointer;

			&:after {
				content: "";
				clear: both;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 0;
				height: 3px;
				background: $red-color;
				transition: all 0.3s ease;
			}

			&:hover, &.active {
				color: $red-color;

				&:after {
					width: 32px;
				}
			}
		}
	}

	
	.grid-left {
		width: 920px;
		padding-right: 20px;
		border-right: 1px solid $border-color;

		.item {
			margin-bottom: 30px;
			height: 280px;
			text-align: center;
			overflow: hidden;

			.img-box {
				width: 100%;
			    height: 245px;

			    .img {
			    	width: 100%;
			    	height: 100%;
			    }
			}

			.text {
				margin-top: 16px;
			}
		}
	}

	.grid-right {
		width: 240px;

		.item {
			padding: 12px;
			border-bottom: 1px dashed $border-color;

			.num {
				padding-right: 4px;
				color: $red-color;
			}

			.img-line {
				position: relative;
				height: 80px;
				padding: 10px 0 0 80px;

				.img {
					position: absolute;
					top: 10px;
					left: 10px;
					width: 60px;
					height: 60px;
				}

				.text-price {
					margin-top: 8px;
					margin-bottom: 4px;
				}
			}
		}

		.title {
			text-align: left;
			line-height: 40px;
			padding-bottom: 20px;
		}
	}
	
}










/* 992px screen show menu */
.menu-small {
	position: absolute;
	display: inline-block;
	top: 32px;
    left: 15px;
    z-index: 10;
}

.menu {
    width: 24px;
	height: 15px;
    cursor: pointer;
    transition: all 0.3s;
    border-bottom: 2px solid #fff;

    &:before , &:after {
    	content: "";
	    position: absolute;
	    height: 2px;
	    width: 24px;
	    top: 50%;
		left: 50%;
	    margin-left: -12px;
	    transition: all 0.3s;
	    background-color: #fff;
    }

    &:before {
    	margin-top: -6px;
    }

    &:after {
    	margin-top: 0px;
    }

    &.active {
    	border-bottom: 0 none;

    	&:before {
	    	margin-top: -4px;
	    	transform: rotate(45deg);
	    }

	    &:after {
	    	margin-top: -4px;
	    	transform: rotate(-45deg);
	    }
    }
}

/* 992px screen show nav */
.nav-temp {
	display: none;
	height: auto;
    width: 100%;
    position: fixed;
    top: 0px;
    text-align: center;
    transition: all 0.5s ease;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    z-index: 1;

    .button {
    	color: #fff;
    	display: inline-block; 
	    height: 65px;
	    border: none; 
	    text-align: center;
	    line-height: 45px;
	    background: transparent;
    }
}







.slider-down {
    transform: translate(0, 50px);
    opacity: 0;

    &.in {
    	transform: translate(0, 0);
    	opacity: 1;
    }
}

.slider-down-delay {
    transform: translate(0, 100px);
    opacity: 0;

    &.in {
    	transform: translate(0, 0);
    	opacity: 1;
    }
}

.slider-down-delayer {
	transform: translate(0, 200px);
    opacity: 0;

    &.in {
    	transform: translate(0, 0);
    	opacity: 1;
    }
}

.slider-right {
	transform: translate(30%, 0);
    opacity: 0;

    &.in {
    	transform: translate(0, 0);
    	opacity: 1;
    }
}






/**
	definition of animation
*/

@keyframes circles {
	0%{
	    animation-timing-function: linear;
	    transform: translateZ(0px) scale(1);
	    opacity: 1;
	}

	100% {
	    transform: translateZ(0px) scale(2.5);
	    opacity: 0;
	}
}

@-webkit-keyframes circles {
  	0%{
		-webkit-animation-timing-function: linear;
	    -webkit-transform: translateZ(0px) scale(1);
	    opacity: 1;
  	}

  	100% {
	    -webkit-transform: translateZ(0px) scale(2.5);
	    opacity: 0;
  	}
}

@keyframes elastic {
  	from, to {
	    -webkit-transform: scale(1, 1);
	    transform: scale(1, 1);
  	}

  	25% {
	    -webkit-transform: scale(0.9, 1.1);
	    transform: scale(0.9, 1.1);
  	}

  	50% {
	    -webkit-transform: scale(1.1, 0.9);
	    transform: scale(1.1, 0.9);
  	}

  	75% {
	    -webkit-transform: scale(0.95, 1.05);
	    transform: scale(0.95, 1.05);
  	}
}


/**
	media query more than 1200
*/

@media (min-width: 1200px) {
	.container {
	    width: 1200px !important;
	}
}

/**
	media query less than 1440
*/
@media (max-width: 1440px) {

	.banner-box {
		height: 428px;
	}

	.video-box {
		height: 810px;
	}
	
}

/**
	media query less than 1366
*/
@media (max-width: 1366px) {

	.banner-box {
		height: 406px;
	}

	.video-box {
		height: 768px;
	}
	
}


/**
	media query less than 1024
*/
@media (max-width: 1024px) {

	.banner-box {
		height: 304px;
	}

	.video-box {
		height: 576px;
	}
	
}


/**
	media query less than 992
*/
@media (max-width: 992px) {

	.nav {
		

		.container {
			height: 80px;
		}

		.logo {
			
	        width: 120px;
		    height: 25px;
		    
		}

	}

}


/**
	media query less than 768
*/
@media (max-width: 768px) {

	.nav {
		height: 50px;

		.container {
			height: 50px;
		}

		.logo {
			width: 100px;
			margin: 10px 0;
		}
	}


	
}


    

   