/* sass file */


/*付款页*/
.yuyue_box .yuyue_left,.yuyue_box .yuyue_right{
	float: left;
}
label {
    float: left;
    line-height: 30px;
    width: 130px;
    text-align: right;
}
.yuyue_box .yuyue_right {
    float: left;
    width: 600px;
}









/*$$$$$$$$$$$$$$$$*/







.form-group .right{
	float: left;
}
.yuyue_table{
	padding-top: 80px;
	margin-left: 60px;
}
.col-sm-offset-2 {
    margin-left: 200px;
    margin-top: 50px;
}
.btn,.btn:hover,.btn:focus{
	background-color: #bc0016;
	width: 120px;
	color: white;
	border-radius: 8px;
	cursor: pointer;
}
.yuyue1{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
.money1{
  color:#bc0016; 
  text-align: center;
  font-weight: bold;
}
.fukuan{
	margin-left: 50px;
}
