<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.d9ing.dao.TreasureMapper">
  <resultMap id="BaseResultMap" type="cn.d9ing.domain.Treasure">
    <id column="t_id" jdbcType="BIGINT" property="tId" />
    <result column="t_name" jdbcType="VARCHAR" property="tName" />
    <result column="t_number" jdbcType="VARCHAR" property="tNumber" />
    <result column="t_remark" jdbcType="VARCHAR" property="tRemark" />
    <result column="t_kilneye" jdbcType="VARCHAR" property="tKilneye" />
    <result column="t_dynasty" jdbcType="INTEGER" property="tDynasty" />
    <result column="t_cover_url" jdbcType="VARCHAR" property="tCoverUrl" />
    <result column="t_3D_url" jdbcType="VARCHAR" property="t3dUrl" />
    <result column="t_cover_url_real" jdbcType="VARCHAR" property="tCoverUrlReal" />
    <result column="t_bottom_url" jdbcType="VARCHAR" property="tBottomUrl" />
    <result column="t_bottom_url_real" jdbcType="VARCHAR" property="tBottomUrlReal" />
    <result column="t_certificate_url" jdbcType="VARCHAR" property="tCertificateUrl" />
    <result column="t_certificate_url_real" jdbcType="VARCHAR" property="tCertificateUrlReal" />
    <result column="t_createtime" jdbcType="TIMESTAMP" property="tCreatetime" />
    <result column="t_uptime" jdbcType="TIMESTAMP" property="tUptime" />
    <result column="isdelte" jdbcType="INTEGER" property="isdelte" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.d9ing.domain.Treasure">
    <result column="t_desc" jdbcType="LONGVARCHAR" property="tDesc" />
  </resultMap>
  <sql id="Base_Column_List">
    t_id, t_name, t_number, t_remark, t_kilneye, t_dynasty, t_cover_url, t_3D_url, t_cover_url_real, 
    t_bottom_url, t_bottom_url_real, t_certificate_url, t_certificate_url_real, t_createtime, 
    t_uptime, isdelte
  </sql>
  <sql id="Blob_Column_List">
    t_desc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_treasure
    where t_id = #{tId,jdbcType=BIGINT}
  </select>
  <!-- 首页展示藏品 -->
  <select id="getIndexTreasure" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_treasure
    where isdelte = 2
  </select>
	  <!-- 分页页数 -->
  <select id="getPageNum" resultType="java.lang.Integer">
  select 
  count(*) AS pages 
  from tb_treasure 
  where 1 = 1
 <if test="tDynasty != 0">
       AND t_dynasty = #{tDynasty,jdbcType=INTEGER}
  </if>
  AND isdelte = 0
  </select>
  <select id="selectTreasurePage" resultMap="BaseResultMap" >
  	SELECT 
  	t_id,t_cover_url,t_name,t_number,t_dynasty 
  	FROM `tb_treasure` 
  	WHERE 1 = 1 
  	AND isdelte != 1
  	<if test="tDynasty != 0">
       AND t_dynasty = #{tDynasty,jdbcType=INTEGER}
    </if>
    <if test="tName != null and tName != ''">
       AND t_name like "%"#{tName,jdbcType=VARCHAR}"%"
    </if>
  	LIMIT #{begain,jdbcType=INTEGER},#{end,jdbcType=INTEGER}
  </select>
  
  <!-- 上一个 -->
  <select id="getTreasureNumUp"  resultMap="ResultMapWithBLOBs">
  	select 
   	t_id,
    t_name
    <![CDATA[
  	FROM tb_treasure 
  	WHERE t_dynasty = #{dynasty,jdbcType=INTEGER}
  	AND t_id < #{tId,jdbcType=BIGINT}
  	AND isdelte = 0
  	 ]]>
  ORDER BY t_id 
  DESC LIMIT 1;
  </select>
  <!-- 添加商品编号自增 -->
  <select id="getNextTreasureNum"  resultType="java.lang.String">
  	SELECT 
	t_number
	FROM tb_treasure
	WHERE t_dynasty = t_dynasty = #{dynasty,jdbcType=INTEGER}
	AND isdelte = 0
	ORDER BY t_id DESC
	LIMIT 0,1	
  </select>
  <!-- 下一个 -->
  <select id="getTreasureNumDown"  resultMap="ResultMapWithBLOBs">
  select 
    t_id,
    t_name
  <![CDATA[
  	
  	FROM tb_treasure 
  	WHERE t_dynasty = #{dynasty,jdbcType=INTEGER}
  	AND t_id > #{tId,jdbcType=BIGINT}
  	AND isdelte = 0
   ]]>
  ORDER BY t_id 
  ASC LIMIT 1;
  </select>				   		   
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_treasure
    where t_id = #{tId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.d9ing.domain.Treasure">
    insert into tb_treasure (t_id, t_name, t_number, 
      t_remark, t_kilneye, t_dynasty, 
      t_cover_url, t_3D_url, t_cover_url_real, 
      t_bottom_url, t_bottom_url_real, t_certificate_url, 
      t_certificate_url_real, t_createtime, t_uptime, 
      isdelte, t_desc)
    values (#{tId,jdbcType=BIGINT}, #{tName,jdbcType=VARCHAR}, #{tNumber,jdbcType=VARCHAR}, 
      #{tRemark,jdbcType=VARCHAR}, #{tKilneye,jdbcType=VARCHAR}, #{tDynasty,jdbcType=INTEGER}, 
      #{tCoverUrl,jdbcType=VARCHAR}, #{t3dUrl,jdbcType=VARCHAR}, #{tCoverUrlReal,jdbcType=VARCHAR}, 
      #{tBottomUrl,jdbcType=VARCHAR}, #{tBottomUrlReal,jdbcType=VARCHAR}, #{tCertificateUrl,jdbcType=VARCHAR}, 
      #{tCertificateUrlReal,jdbcType=VARCHAR}, #{tCreatetime,jdbcType=TIMESTAMP}, #{tUptime,jdbcType=TIMESTAMP}, 
      #{isdelte,jdbcType=INTEGER}, #{tDesc,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.d9ing.domain.Treasure">
    insert into tb_treasure
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tId != null">
        t_id,
      </if>
      <if test="tName != null">
        t_name,
      </if>
      <if test="tNumber != null">
        t_number,
      </if>
      <if test="tRemark != null">
        t_remark,
      </if>
      <if test="tKilneye != null">
        t_kilneye,
      </if>
      <if test="tDynasty != null">
        t_dynasty,
      </if>
      <if test="tCoverUrl != null">
        t_cover_url,
      </if>
      <if test="t3dUrl != null">
        t_3D_url,
      </if>
      <if test="tCoverUrlReal != null">
        t_cover_url_real,
      </if>
      <if test="tBottomUrl != null">
        t_bottom_url,
      </if>
      <if test="tBottomUrlReal != null">
        t_bottom_url_real,
      </if>
      <if test="tCertificateUrl != null">
        t_certificate_url,
      </if>
      <if test="tCertificateUrlReal != null">
        t_certificate_url_real,
      </if>
      <if test="tCreatetime != null">
        t_createtime,
      </if>
      <if test="tUptime != null">
        t_uptime,
      </if>
      <if test="isdelte != null">
        isdelte,
      </if>
      <if test="tDesc != null">
        t_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tId != null">
        #{tId,jdbcType=BIGINT},
      </if>
      <if test="tName != null">
        #{tName,jdbcType=VARCHAR},
      </if>
      <if test="tNumber != null">
        #{tNumber,jdbcType=VARCHAR},
      </if>
      <if test="tRemark != null">
        #{tRemark,jdbcType=VARCHAR},
      </if>
      <if test="tKilneye != null">
        #{tKilneye,jdbcType=VARCHAR},
      </if>
      <if test="tDynasty != null">
        #{tDynasty,jdbcType=INTEGER},
      </if>
      <if test="tCoverUrl != null">
        #{tCoverUrl,jdbcType=VARCHAR},
      </if>
      <if test="t3dUrl != null">
        #{t3dUrl,jdbcType=VARCHAR},
      </if>
      <if test="tCoverUrlReal != null">
        #{tCoverUrlReal,jdbcType=VARCHAR},
      </if>
      <if test="tBottomUrl != null">
        #{tBottomUrl,jdbcType=VARCHAR},
      </if>
      <if test="tBottomUrlReal != null">
        #{tBottomUrlReal,jdbcType=VARCHAR},
      </if>
      <if test="tCertificateUrl != null">
        #{tCertificateUrl,jdbcType=VARCHAR},
      </if>
      <if test="tCertificateUrlReal != null">
        #{tCertificateUrlReal,jdbcType=VARCHAR},
      </if>
      <if test="tCreatetime != null">
        #{tCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="tUptime != null">
        #{tUptime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelte != null">
        #{isdelte,jdbcType=INTEGER},
      </if>
      <if test="tDesc != null">
        #{tDesc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.d9ing.domain.Treasure">
    update tb_treasure
    <set>
      <if test="tName != null">
        t_name = #{tName,jdbcType=VARCHAR},
      </if>
      <if test="tNumber != null">
        t_number = #{tNumber,jdbcType=VARCHAR},
      </if>
      <if test="tRemark != null">
        t_remark = #{tRemark,jdbcType=VARCHAR},
      </if>
      <if test="tKilneye != null">
        t_kilneye = #{tKilneye,jdbcType=VARCHAR},
      </if>
      <if test="tDynasty != null">
        t_dynasty = #{tDynasty,jdbcType=INTEGER},
      </if>
      <if test="tCoverUrl != null">
        t_cover_url = #{tCoverUrl,jdbcType=VARCHAR},
      </if>
      <if test="t3dUrl != null">
        t_3D_url = #{t3dUrl,jdbcType=VARCHAR},
      </if>
      <if test="tCoverUrlReal != null">
        t_cover_url_real = #{tCoverUrlReal,jdbcType=VARCHAR},
      </if>
      <if test="tBottomUrl != null">
        t_bottom_url = #{tBottomUrl,jdbcType=VARCHAR},
      </if>
      <if test="tBottomUrlReal != null">
        t_bottom_url_real = #{tBottomUrlReal,jdbcType=VARCHAR},
      </if>
      <if test="tCertificateUrl != null">
        t_certificate_url = #{tCertificateUrl,jdbcType=VARCHAR},
      </if>
      <if test="tCertificateUrlReal != null">
        t_certificate_url_real = #{tCertificateUrlReal,jdbcType=VARCHAR},
      </if>
      <if test="tCreatetime != null">
        t_createtime = #{tCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="tUptime != null">
        t_uptime = #{tUptime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdelte != null">
        isdelte = #{isdelte,jdbcType=INTEGER},
      </if>
      <if test="tDesc != null">
        t_desc = #{tDesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where t_id = #{tId,jdbcType=BIGINT}
	AND isdelte != 1			   
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.d9ing.domain.Treasure">
    update tb_treasure
    set t_name = #{tName,jdbcType=VARCHAR},
      t_number = #{tNumber,jdbcType=VARCHAR},
      t_remark = #{tRemark,jdbcType=VARCHAR},
      t_kilneye = #{tKilneye,jdbcType=VARCHAR},
      t_dynasty = #{tDynasty,jdbcType=INTEGER},
      t_cover_url = #{tCoverUrl,jdbcType=VARCHAR},
      t_3D_url = #{t3dUrl,jdbcType=VARCHAR},
      t_cover_url_real = #{tCoverUrlReal,jdbcType=VARCHAR},
      t_bottom_url = #{tBottomUrl,jdbcType=VARCHAR},
      t_bottom_url_real = #{tBottomUrlReal,jdbcType=VARCHAR},
      t_certificate_url = #{tCertificateUrl,jdbcType=VARCHAR},
      t_certificate_url_real = #{tCertificateUrlReal,jdbcType=VARCHAR},
      t_createtime = #{tCreatetime,jdbcType=TIMESTAMP},
      t_uptime = #{tUptime,jdbcType=TIMESTAMP},
      isdelte = #{isdelte,jdbcType=INTEGER},
      t_desc = #{tDesc,jdbcType=LONGVARCHAR}
    where t_id = #{tId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.d9ing.domain.Treasure">
    update tb_treasure
    set t_name = #{tName,jdbcType=VARCHAR},
      t_number = #{tNumber,jdbcType=VARCHAR},
      t_remark = #{tRemark,jdbcType=VARCHAR},
      t_kilneye = #{tKilneye,jdbcType=VARCHAR},
      t_dynasty = #{tDynasty,jdbcType=INTEGER},
      t_cover_url = #{tCoverUrl,jdbcType=VARCHAR},
      t_3D_url = #{t3dUrl,jdbcType=VARCHAR},
      t_cover_url_real = #{tCoverUrlReal,jdbcType=VARCHAR},
      t_bottom_url = #{tBottomUrl,jdbcType=VARCHAR},
      t_bottom_url_real = #{tBottomUrlReal,jdbcType=VARCHAR},
      t_certificate_url = #{tCertificateUrl,jdbcType=VARCHAR},
      t_certificate_url_real = #{tCertificateUrlReal,jdbcType=VARCHAR},
      t_createtime = #{tCreatetime,jdbcType=TIMESTAMP},
      t_uptime = #{tUptime,jdbcType=TIMESTAMP},
      isdelte = #{isdelte,jdbcType=INTEGER}
    where t_id = #{tId,jdbcType=BIGINT}
  </update>
</mapper>